// wifi_credentials.h.template
#ifndef WIFI_CREDENTIALS_H
#define WIFI_CREDENTIALS_H

const char* WS_SERVER_IP = "ip address of machine runnung the game"; // Replace with the ip address of the machine running pygame

const char* WIFI_SSID = "your_wifi_ssid"; // Replace with your WiFi SSID
const char* WIFI_PASSWORD = "your_wifi_password"; // Replace with your WiFi Password

#endif
